conda.enabled = true
conda.cacheDir = "${projectDir}/conda-envs"

profiles {
    test {
        params.ref_id = "Q582G4"
        params.tax_id = "185431"
        params.model = "esm2_t12_35M_UR50D"
        params.top_n = 20
        params.batch_name = "test"
    }
    example {
        params.ref_id = "Q9BV86"
        params.tax_id = "185431"
        params.model = "esm2_t12_35M_UR50D"
        params.top_n = 20
        params.batch_name = "example"
    }
}
