conda.enabled = true
conda.cacheDir = "${projectDir}/conda-envs"

profiles {
    MTase_t6 {
        params.ref_id = "Q9BV86"
        params.tax_id = "185431"
        params.model = "esm2_t6_8M_UR50D"
        params.top_n = 100
        params.batch_name = "MTase_t6"
    }
    MTase_t12 {
        params.ref_id = "Q9BV86"
        params.tax_id = "185431"
        params.model = "esm2_t12_35M_UR50D"
        params.top_n = 100
        params.batch_name = "MTase_t12"
    }
    MTase_t30 {
        params.ref_id = "Q9BV86"
        params.tax_id = "185431"
        params.model = "esm2_t30_150M_UR50D"
        params.top_n = 100
        params.batch_name = "MTase_t30"
    }
    PET_t12 {
        params.ref_id = "A0A0K8P6T7"
        params.tax_id = "2021"
        params.model = "esm2_t12_35M_UR50D"
        params.top_n = 100
        params.batch_name = "PET_t12"
    }
    globin_t6 {
        params.ref_id = "P02144"
        params.tax_id = "3847"
        params.model = "esm2_t6_8M_UR50D"
        params.top_n = 100
        params.batch_name = "globin_t6"
    }
}
